# NumPy Assignment

### Import the numpy package under the name as np & print the numpy version

In [6]:
import numpy as np

In [2]:
np.__version__

'1.21.5'

### Create a null vector of size 10

In [5]:
nrr = np.zeros(10)
nrr

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.])

### Create a null vector of size 10 but the fifth value which is 1

In [9]:
# 1. yol                               where(condition, [x, y])
np.where(np.arange(10)==4,1,0)       # Return elements chosen from `x` or `y` depending on `condition`.

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [10]:
# 2.yol
np.array([int(x==4) for x in range(10)])

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [11]:
# 3. yol
(np.arange(10) == 4).astype(int)

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

In [15]:
# 4. yol
(np.arange(10) == 4) * 1          # False * 1 = 0 / True * 1 = 1

array([0, 0, 0, 0, 1, 0, 0, 0, 0, 0])

### Create a vector with values ranging from 10 to 49

In [4]:
a = np.arange(10,50)
a

array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49])

### Reverse a vector (first element becomes last)

In [3]:
a[::-1]

array([49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33,
       32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16,
       15, 14, 13, 12, 11, 10])

### Create a 3x3 matrix with values ranging from 0 to 8

In [30]:
b = np.arange(9).reshape(3,3)
b

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

### Find indices of non­zero elements from [1,2,0,0,4,0]

In [9]:
arr = np.array([1,2,0,0,4,0])
np.nonzero(arr)

[array([0, 1, 4], dtype=int64)]

### Create a 3x3 identity matrix

In [36]:
arr=np.identity(3)
arr

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

### Create a 3x3x3 array with random values

In [37]:
arr1 = np.random.random((3,3,3))             # [0.0, 1.0) aralığında
arr1

array([[[0.49680275, 0.35887309, 0.67356909],
        [0.47993789, 0.3424819 , 0.84152563],
        [0.7404489 , 0.66672723, 0.74102889]],

       [[0.78464672, 0.71110388, 0.475235  ],
        [0.59077546, 0.83134765, 0.28644543],
        [0.15672358, 0.91821298, 0.84984726]],

       [[0.47545794, 0.88537462, 0.07371147],
        [0.14514923, 0.28048034, 0.44094007],
        [0.53102857, 0.21389449, 0.20123448]]])

In [41]:
arr2= np.random.rand(3,3,3)
arr2

array([[[3.66987854e-01, 3.16561082e-01, 1.06766805e-04],
        [7.09666833e-01, 2.00766591e-01, 8.76122749e-01],
        [8.53107639e-01, 4.35450143e-01, 8.59812199e-01]],

       [[1.61340718e-01, 7.76104110e-01, 8.69571363e-01],
        [8.57831640e-02, 7.44211525e-01, 2.70423548e-01],
        [4.30418893e-01, 1.87023987e-01, 2.50210280e-01]],

       [[2.97156242e-02, 2.19475724e-01, 8.58414457e-01],
        [8.54868358e-01, 2.88823821e-01, 2.51549301e-01],
        [8.65060993e-01, 6.08513068e-01, 7.38049438e-01]]])

In [43]:
arr3 = np.random.randint(10, size = (3,3,3))
arr3

array([[[2, 5, 5],
        [6, 8, 0],
        [4, 0, 8]],

       [[8, 1, 4],
        [0, 1, 3],
        [6, 4, 1]],

       [[1, 8, 0],
        [9, 5, 5],
        [7, 1, 5]]])

### Create a 10x10 array with random values and find the minimum and maximum values

In [10]:
arr4 = np.random.randint(100, size = (10,10))
arr4

array([[13, 41, 86, 40, 31, 26, 83, 33, 63, 31],
       [29, 70, 66, 78, 71, 85, 15, 55, 77, 36],
       [50, 42, 67, 42, 58, 92, 95, 32, 54, 37],
       [82, 73, 45, 17, 11, 49, 73, 58, 87, 53],
       [ 7, 74, 59, 55, 37, 22,  3, 32, 38, 95],
       [47, 76, 68, 34, 77,  3, 94, 46,  9,  0],
       [35, 83, 89, 79, 44, 43, 60, 40, 73, 44],
       [34,  5, 92, 39,  4,  4, 58, 26, 47, 40],
       [76, 51, 16, 38, 45, 54, 26, 70, 52, 80],
       [20, 94, 11, 55, 15, 23, 28, 23, 15, 64]])

In [11]:
arr4.max()

95

In [12]:
arr4.min()

0

### Create a random vector of size 30 and find the mean value

In [55]:
arr5 = np.random.randint(0,30, size = 30)
arr5

array([20, 13, 21,  8,  3,  4,  7, 28,  3,  5, 26,  7,  9, 27, 16, 20,  3,
       25, 29, 28, 26, 28, 24, 12,  2, 24,  9,  9, 24,  3])

In [56]:
arr5.mean()

15.433333333333334

### Create a 2d array with 1 on the border and 0 inside

In [57]:
arr6 = np.ones((5,5))
arr6[1:-1,1:-1] = 0
arr6

array([[1., 1., 1., 1., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 0., 0., 0., 1.],
       [1., 1., 1., 1., 1.]])

### Create a 5x5 matrix with values 1,2,3,4 just below the diagonal

In [60]:
arr7 = np.diag([1, 2, 3, 4], k = -1)
arr7

array([[0, 0, 0, 0, 0],
       [1, 0, 0, 0, 0],
       [0, 2, 0, 0, 0],
       [0, 0, 3, 0, 0],
       [0, 0, 0, 4, 0]])

### Create a 8x8 matrix and fill it with a checkerboard pattern

In [13]:
arr8 = np.zeros((8,8),dtype=int)      # dama tahtası şeklinde 0 ve 1'ler
arr8[1::2,::2] = 1     # satır da 1'ler
arr8[::2,1::2] = 1     # sütun da 1'ler
arr8

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

### Create a checkerboard 8x8 matrix using the tile function

In [66]:
np.array([[0,1],[1,0]])     # bu çıktının 4'e katlanmış hali checkerboard oluşturur

array([[0, 1],
       [1, 0]])

In [14]:
arr9 = np.tile( np.array([[0,1],[1,0]]), (4,4))      # numpy.tile(A, reps)
arr9

array([[0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0],
       [0, 1, 0, 1, 0, 1, 0, 1],
       [1, 0, 1, 0, 1, 0, 1, 0]])

### Consider a (6,7,8) shape array, what is the index (x,y,z) of the 100th element?

In [22]:
arr = np.random.randint(100, size = (6,7,8))
arr

array([[[17, 23, 87, 20, 88, 90, 55, 52],
        [54, 45,  2, 11, 50, 84, 67, 10],
        [42, 88, 26, 74,  9, 77, 68,  1],
        [42, 76, 19,  7, 82,  9, 78, 73],
        [44, 83, 57, 67,  8, 65, 90, 37],
        [ 2,  1, 22, 86, 36,  0, 46, 11],
        [52, 27, 84, 62, 78, 91, 84, 14]],

       [[ 4, 18, 30, 56, 81, 63, 49, 52],
        [42, 74, 10, 77, 81, 36, 91, 38],
        [96, 69, 96, 61, 37, 94, 12, 25],
        [15, 56,  0,  8, 89, 74, 76, 50],
        [48,  7, 93, 59, 59, 64, 53, 84],
        [79,  3,  3, 96, 54, 13, 95, 95],
        [84, 77, 48, 18, 26,  6, 66, 39]],

       [[30,  1, 82, 55, 58, 93, 57, 36],
        [31,  1, 62, 40, 16, 46,  3, 27],
        [53, 16,  1, 92, 35, 95, 63, 81],
        [57, 40, 83, 28, 21, 42, 10, 75],
        [95, 21, 40, 73, 83, 94, 43, 25],
        [56, 47, 95, 18, 17, 36, 66,  4],
        [84, 93, 86, 70, 51, 81, 45,  4]],

       [[56, 37, 45, 90, 93, 32, 43,  7],
        [54, 93, 83,  3, 89, 85, 95, 67],
        [31, 41, 18, 17, 71, 95, 72,  7],
        [97, 48, 31,  6, 10, 89, 32, 42],
        [65, 82, 20, 99, 95, 19, 42,  5],
        [89, 22, 82,  8, 38, 62, 58, 83],
        [ 2, 70,  0, 50, 23, 16, 81, 26]],

       [[24, 18, 30, 28, 48, 46, 59, 63],
        [30, 15, 40, 46, 30, 66, 53, 97],
        [99, 58,  1, 16, 49, 74, 62, 26],
        [77, 41, 93, 55, 17, 65, 98, 41],
        [ 6, 51, 60, 31,  0, 65, 72, 66],
        [71, 12, 88, 21, 63, 91, 36, 43],
        [89, 63, 92, 21, 48, 57,  8, 27]],

       [[81, 39, 61, 27, 42,  6, 38, 20],
        [31, 18, 85, 72, 66, 82, 24,  6],
        [91, 52, 34, 88, 38, 65, 27, 28],
        [17, 21, 33, 27, 18, 76, 34, 35],
        [77, 78, 26,  5, 33, 45, 57, 52],
        [57, 45, 15, 29, 66, 36, 15, 40],
        [62, 72, 73, 44, 71, 11,  7, 11]]])

In [23]:
np.unravel_index(100,(6,7,8))           # shape (6,7,8) olan array'in 100. elemanın index'ini getirir

(1, 5, 4)

In [30]:
arr.argmax()                             # bir eksen boyunca max değerin sırasını döndürür

203

In [31]:
np.unravel_index(arr.argmax(),arr.shape)     # unravel_index ile max sayının indeksine erişim

(3, 4, 3)

In [32]:
arr[3, 4, 3]

99

In [33]:
arr.max()

99

### How can I create an array with dimensions (6, 7, 8) using arange, and find its last element?

In [35]:
arr10 = np.random.randint(10, size = (6,7,8))
arr10

array([[[3, 4, 5, 9, 2, 7, 5, 5],
        [2, 1, 6, 1, 5, 8, 9, 5],
        [9, 8, 4, 1, 5, 8, 2, 2],
        [4, 0, 1, 6, 5, 4, 0, 4],
        [2, 9, 0, 6, 6, 8, 4, 2],
        [8, 5, 9, 4, 0, 8, 6, 2],
        [1, 4, 2, 8, 3, 2, 5, 7]],

       [[0, 9, 2, 4, 0, 0, 7, 5],
        [8, 4, 7, 7, 2, 4, 9, 3],
        [6, 6, 1, 6, 3, 6, 1, 7],
        [9, 8, 8, 1, 5, 7, 3, 1],
        [0, 9, 2, 8, 3, 5, 8, 0],
        [3, 9, 7, 7, 9, 4, 8, 9],
        [5, 6, 5, 7, 0, 8, 5, 8]],

       [[7, 9, 3, 9, 0, 1, 4, 6],
        [9, 4, 7, 3, 3, 9, 8, 1],
        [0, 8, 0, 5, 7, 4, 0, 0],
        [8, 2, 2, 6, 9, 5, 0, 2],
        [8, 8, 0, 6, 9, 9, 0, 8],
        [3, 1, 0, 6, 0, 9, 9, 3],
        [8, 9, 6, 6, 7, 7, 5, 2]],

       [[0, 8, 6, 8, 2, 0, 0, 8],
        [3, 6, 6, 0, 8, 8, 2, 7],
        [0, 3, 9, 9, 3, 7, 2, 1],
        [9, 7, 1, 1, 1, 5, 2, 4],
        [9, 2, 4, 5, 0, 8, 6, 3],
        [2, 5, 5, 1, 3, 1, 3, 1],
        [3, 4, 2, 9, 6, 8, 0, 5]],

       [[5, 0, 4, 5, 1, 6, 8, 1],
        [5, 9, 4, 8, 0, 4, 2, 6],
        [7, 9, 6, 7, 6, 1, 9, 5],
        [3, 8, 1, 4, 7, 8, 9, 2],
        [7, 1, 1, 9, 0, 2, 9, 3],
        [7, 4, 8, 6, 9, 7, 2, 9],
        [4, 7, 0, 1, 2, 5, 6, 5]],

       [[8, 2, 2, 9, 2, 9, 2, 3],
        [2, 0, 9, 9, 1, 6, 2, 8],
        [7, 9, 7, 3, 5, 4, 1, 5],
        [4, 8, 2, 5, 1, 8, 3, 0],
        [4, 1, 6, 3, 7, 8, 2, 8],
        [7, 5, 4, 6, 3, 3, 5, 3],
        [1, 8, 7, 5, 2, 3, 8, 2]]])

In [36]:
arr10[[-1],[-1],[-1]]         # shape'in tüm katmanlarında -1 yazarak son elemana ulaşırız

array([2])

### Given a one-dimensional array, make all elements between 3 and 8 inclusive negative.

In [51]:
arr11 = np.arange(10)
arr11

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [46]:
# mevcut vektör de 3. ve 8. index arası negatif olucaksa aşağıdaki kullanım

In [47]:
arr11[2:8] = -arr11[2:8]
arr11

array([ 0,  1, -2, -3, -4, -5, -6, -7,  8,  9])

In [48]:
# mevcut vektörde 3 ile 8 arasında olan sayılar negatif olması isteniyorsa aşağıdaki kullanım

In [53]:
liste = [3,4,5,6,7,8]
for i in range(len(arr11)):
    if arr11[i] in liste:
        arr11[i] = -arr11[i]
arr11

array([ 0,  1,  2, -3, -4, -5, -6, -7, -8,  9])

### Create a 5x5 matrix with row values ranging from 0 to 4

In [114]:
arr = np.zeros((5,5))
arr

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [115]:
arr += np.arange(5)
arr

array([[0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.]])

### Create a vector of size 12 with values ranging from 0 to 1, both excluded

In [73]:
arr = np.linspace(0,1,12,endpoint=False)   # endpoint = False ile 1 dahil değil
arr

array([0.        , 0.08333333, 0.16666667, 0.25      , 0.33333333,
       0.41666667, 0.5       , 0.58333333, 0.66666667, 0.75      ,
       0.83333333, 0.91666667])

In [74]:
arr[1:]       # burda da ilk 0'ı dahil etmeden çağırdık

array([0.08333333, 0.16666667, 0.25      , 0.33333333, 0.41666667,
       0.5       , 0.58333333, 0.66666667, 0.75      , 0.83333333,
       0.91666667])

In [75]:
arr = np.linspace(0,1,12,endpoint=True)      # 1 dahil
arr

array([0.        , 0.09090909, 0.18181818, 0.27272727, 0.36363636,
       0.45454545, 0.54545455, 0.63636364, 0.72727273, 0.81818182,
       0.90909091, 1.        ])

In [76]:
arr[1:-1]     # 0 ve 1'i dahil etmeden çağırıdık

array([0.09090909, 0.18181818, 0.27272727, 0.36363636, 0.45454545,
       0.54545455, 0.63636364, 0.72727273, 0.81818182, 0.90909091])

### Create a random vector of size 10 and sort it

In [108]:
arr = np.random.random(10)
arr

array([0.00483605, 0.58091507, 0.26156235, 0.6231295 , 0.39610521,
       0.19960294, 0.98419122, 0.49896363, 0.66135128, 0.68764636])

In [110]:
arr.sort()
arr

array([0.00483605, 0.19960294, 0.26156235, 0.39610521, 0.49896363,
       0.58091507, 0.6231295 , 0.66135128, 0.68764636, 0.98419122])

### Consider two random array A anb B, check if they are equal

In [81]:
A = np.array([1,2,3,4,5])
B = np.array([1,2,3,4,5])
equal = np.allclose(A,B)
equal

True

In [83]:
np.allclose([1,2,3, np.nan], [1,2,3, np.nan])                # nan değerlerin kıyaslanabilir karşılığı yok

False

In [84]:
np.allclose([1,2,3, np.nan], [1,2,3, np.nan], equal_nan=True)  # equal_nan=True ile nan değerlerin eşit kabul edilmesi sağlandı

True

### Create random vector of size 10 and replace the maximum value by 0

In [85]:
arr = np.random.random(10)
arr

array([0.2105853 , 0.36642045, 0.18366233, 0.47002088, 0.61407164,
       0.45805283, 0.48261988, 0.8565646 , 0.83062954, 0.87861206])

In [86]:
arr.max()

0.8786120641799711

In [87]:
arr[arr.argmax()] = 0
arr

array([0.2105853 , 0.36642045, 0.18366233, 0.47002088, 0.61407164,
       0.45805283, 0.48261988, 0.8565646 , 0.83062954, 0.        ])

### How to swap two rows of an array?

In [103]:
arr= np.arange(10).reshape(2,5)
arr

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [104]:
arr[[0,1]] = arr[[1,0]]    # çift parantez ve [0,1] benim satırlarımı ifade ediyor (fancy mantığı)
arr

array([[5, 6, 7, 8, 9],
       [0, 1, 2, 3, 4]])

### Extra: How to swap two columns of an array?

In [116]:
arr= np.arange(10).reshape(5,2)
arr

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [117]:
arr[:, [0,1]] = arr[:, [1,0]]
arr

array([[1, 0],
       [3, 2],
       [5, 4],
       [7, 6],
       [9, 8]])

### How to find the most frequent value in an array?

In [119]:
arr = np.random.randint(0,10, size = 50)
arr

array([2, 1, 9, 4, 3, 7, 7, 7, 0, 7, 0, 9, 6, 0, 7, 8, 5, 1, 4, 6, 0, 4,
       7, 8, 4, 6, 5, 6, 5, 1, 9, 4, 3, 5, 1, 8, 1, 4, 3, 2, 7, 1, 8, 6,
       7, 3, 7, 8, 5, 9])

In [120]:
np.bincount(arr)    # yukarıda belirttiğim aralık olan 0-10 arası sayıların tekrar durumlarını dömdürür

array([4, 6, 2, 4, 6, 5, 5, 9, 5, 4], dtype=int64)

In [122]:
np.bincount(arr).max()        # max tekrar sayısı

9

In [121]:
np.bincount(arr).argmax()     # 7 rakamı 9 kez tekrar etmiş

7